<!DOCTYPE html>
<html lang="en">
<head>
    <!-- ... -->
</head>
<body>
    <table border="1">
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Customer Name</th>
                <th>Phone Number</th>
                <th>Address</th>
                <th>Item</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
    <% orders.forEach(order => { %>
        <tr>
            <td><%= order._id %></td>
            <td><%= order.userInfo ? order.userInfo.username : 'Unknown Customer' %></td>
            <td><%= order.userInfo ? order.userInfo.phoneNumber : 'Unknown Phone Number' %></td>
            <td><%= order.userInfo ? order.userInfo.address : 'Unknown Address' %></td>
            <% order.items.forEach(item => { %>
                <td><%= item.menuId.itemName %></td>
                <td><%= item.quantity %></td>
            <% }); %>
        </tr>
    <% }); %>
</tbody>

    </table>
</body>
</html>